<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <title>Crew Schedule</title>
    <meta name="description" content="An application for scheduling and managing field crews">
    <link rel="icon" href="~/images/CSLogo.png">
    <link rel="stylesheet" href="~/style.css">
    <script type="module" src="~/components/desktop/cs-desktop-shell.js">
    </script>
</head>
<body unresolved>    
    <cs-desktop-shell id="shell"></cs-desktop-shell>
    <div id="not-supported-message">
        <div class="frownFace">:-(</div>
        <div class="oldBrowserMessage">Your browser is too old to run this application.</div>
        <div class="oldBrowserMessage"> Please use a newer browser such as Google Chrome.</div>
    </div>
    <script>
        function hasES6Support() {
            "use strict";
            if (typeof Symbol == "undefined") return false;
            if (!('customElements' in window)) return false;
            try {
                eval("class Foo {}");
                eval("var bar = (x) => x+1");
                var supportsCustomElements = ('customElements' in window);
            } catch (e) { return false; }            
            return true;
        }
        if (hasES6Support()) {
            // The browser supports ES6/ES2015
            var element = document.getElementById("not-supported-message");
            document.body.removeChild(element);
        } else {
            // The browser does not support ES6/ES2015
            var element = document.getElementById("shell");
            document.body.removeChild(element);
        }
    </script>
    <noscript>
        Please enable JavaScript to view this website.
    </noscript>
</body>
</html>